.w-70
{
  width: 75%;
  margin: auto;
}

.drop-1{
  background-color: white;
  color: #000;
  border: 1px solid #e1e8ee;
  box-shadow: none;
  width: 228px;
  text-align: left;
  height: 30px;
}
.drop-1:hover
{
  color: #334150;
  border-color: #1598f6;
  background-color: white;
  box-shadow: none;
}

.drop-1:focus
{
  background-color: white;
  box-shadow: none;
  color: black;
}

.drop-1:active
{
  background-color: white;
  color: black;
  box-shadow: none;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus
{
  box-shadow: none !important;
}
.dropdown-toggle::after{
  margin-left: 5.6em;
    font-size: 17px;
    position: absolute;
    top: 15px;
}
.marginleft::after{
  margin-left: 1em;
  font-size: 17px;
  position: absolute;
  top: 15px;
}
.drop-class{
  display: flex;
  justify-content: center;
  text-align: center;
}


.drop-2{
  background-color: white;
    color: #000;
    border: 1px solid #e1e8ee;
    box-shadow: none;
    width: 100px;
    text-align: left;
    height: 30px;
}
.drop-2:hover
{
  color: #334150;
  border-color: #1598f6;
  background-color: white;
  box-shadow: none;
}

.drop-2:focus
{
  background-color: white;
  box-shadow: none;
  color: black;
}
.drop-2:active
{
  background-color: white;
  color: black;
  box-shadow: none;
}
.line{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line span{
  border: 1px solid black;
  width: 20px;
  margin-left: 10px;
}
.ss{
  margin-left: -10px;
}
.button{
  width: 130px;
  /* text-align: center; */
  /* align-items: center; */
  color: white;
  background-color: cornflowerblue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
    
}
.margin20px{
  margin: 20px;
}
.ulClass{
  list-style:none;
  text-align: left;
  position:absolute;
  top: 80px;
  left: 0px;
}
.ulClass1{
  list-style:none;
  text-align: left;
  position:absolute;
  top: 80px;
  left: 300px;

}
.ulClass2{
  list-style:none;
  text-align: left;
  position:absolute;
  top: 80px;
  left: 500px;

}
.ulClass3{
  list-style:none;
  text-align: left;
  position:absolute;
  top: 80px;
  left: 700px;

}
.ulClass4{
  list-style:none;
  text-align: left;
  position:absolute;
  top: 80px;
  left: 900px;

}